@layout__max-width: 1380px;
@layout-indent__width: 0;
@layout__width-xs-indent: 0;

//
//  Breadcrumbs
//  _____________________________________________

@breadcrumbs__font-size: 0.75rem;
@breadcrumbs-current__color: @viparis_red;
@breadcrumbs-link__color: @viparis_grey;

//
//  Typography
//  ---------------------------------------------

//  Focus
@focus__box-shadow: none;

//
//  Navigation variables
//  _____________________________________________

@navigation-level0-item__border: 1px solid @viparis_blue2;

@navigation__background: transparent;
@navigation-desktop-level0-item__padding: 11px 30px;
@navigation-desktop-level0-item__color: @viparis_wite;
@navigation-desktop-level0-item__active__color: @viparis_blue;


@submenu__padding-top: 26px;
@submenu__padding-right: 0;
@submenu__padding-bottom: 34px;
@submenu__padding-left: 0;
@submenu__font-size: 15px;

@submenu-item__color: @viparis_red;
//
//  Desktop navigation
//  ---------------------------------------------
@navigation-desktop-level0-item__line-height: 20px;

@navigation-desktop-level0-item__active__background: @viparis_wite;
@navigation-desktop__font-size: 13px;

@navigation-desktop-level0-item__active__border-color: '';
@navigation-desktop-level0-item__active__border-style: '';
@navigation-desktop-level0-item__active__border-width: '';

@navigation-desktop-level0-item__margin: 0;

@navigation-desktop-level0-item__hover__color: @viparis_red;

@submenu-desktop__min-width: 1350px;

@submenu-desktop-item__hover__color: @viparis_blue;
@submenu-desktop-item__color: @viparis_red2;
@submenu-desktop-item__hover__color: '';
@submenu-desktop-item__padding: 0 0 15px 0;
@submenu-desktop-item__hover__background: '';
@submenu-desktop__box-shadow: 0 3px 18px -5px rgba(0, 0, 0, .2);