//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  // header-------------------------------------------------------------------------------------------------------
  .page-header {
    .content {
      padding: 0;
      max-width: 1380px;
    }
  }
  .left_col,
  .right_col {
    display: flex;
    * {
      float: none;
    }
  }

  .left_col {
    align-items: center;
    .logo {
      margin: 0;
      img {
        min-width: 197px;
      }
    }
  }

  .right_col {
    justify-content: flex-end;
    align-items: center;
    .links {
      li {
        display: inline-block;
        text-transform: uppercase;
        margin: 0 27px 0 0;
        font-size: 11px;
        color: #000;
        letter-spacing: .9px;
        a {
          font-size: 12px;
          color: #000;
          &:hover {
            color: #eb2645;
          }
        }
      }
    }
    .lengwich_block {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: 87px;
      margin: 0 26px 0 32px;
      .check_lengwich {
        display: inline-block;
        width: 24px;
        height: 16px;
        margin-right: 2px;
        background-color: #000;
      }
    }
    
    .minicart-wrapper {
      background-color: #eb2645;
      display: flex;
      width: 104px;
      height: 83px;
      align-items: center;
      justify-content: center;
    }
  }
  .bunner_wrapper {
    position: relative;
    .bunner_titele {
      position: absolute;
      color: #fff;
      top: 106px;
      left: 50%;
      font-size: 39px;
      transform: translate(-50%);
      text-transform: uppercase;
    }
  }
  // footer-------------------------------------------------------------------------------------------------------
  .top_footer {
    background-color: #e31d3c;
    text-transform: uppercase;
    padding: 30px 0 28px 0;
    .top_footer__item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .item__answers {
        font-size: 14px;
        margin-right: 8%;
        letter-spacing: .2px;
      }
    }
  }

  .item__useful_inks {
    width: 100%;
    li {
      display: inline-block;
      margin: 0 0 0 6.6%;
      a {
        font-size: 12px;
        &:hover {
          color: #182d47;
        }
      }
    }
  }

  .middle_footer {
    padding: 46px 0 39px 0;
    color: #b9bbbd;
    .middle_footer__main_col {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .main_col__servises {
    text-align: center;
    padding-bottom: 35px;
    h3 {
      position: relative;
      font-size: 17px;
      text-transform: uppercase;
      margin-bottom: 24px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 50%;
        bottom: -12px;
        transform: translate(50%,0);
        height: 3px;
        width: 18px;
        background-color: #eb2645;
      }
    }
    a {
      font-size: 14px;
      letter-spacing: .2px;
      padding-bottom: 1px;
    }
  }

  .middle_footer,
  .bottom_footer {
    background-color: #182d47;
  }
}
